body{
	background-image: url("../img/bg2.png");
	background-repeat: no-repeat;
	background-size: 100% 720px;
}
#inputs{
	margin-top: 150px;

	border-radius: 5px;
}
#imagen{
	padding-bottom: 20px;

}
#boton{
	margin-top: 30px;
}
.input-group{
	padding-bottom: 5px;
}
#label1, #label2{
	background-color: rgba(255,255,255,0.8);
}
